server {
  listen 80;
  server_name qa2.barbooksaustralia.com;
  return 301 https://$server_name$request_uri;
}

server {
  listen 443 ssl;
  server_name qa2.barbooksaustralia.com;

  ssl on;
  #ssl_certificate         /etc/nginx/ssl-certs/barbooks_20200930.crt;
  #ssl_certificate_key     /etc/nginx/ssl-certs/barbooks_20200930.key;
  #ssl_dhparam             /etc/nginx/ssl-certs/dhparam.pem; # sudo openssl dhparam -dsaparam -out ./dhparam.pem 2048
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_prefer_server_ciphers on;
  ssl_ciphers AES256+EECDH:AES256+EDH:!aNULL;
  ssl_session_cache shared:SSL:10m;
  ssl_session_timeout 24h;
  ssl_stapling on;
  ssl_stapling_verify on;

  add_header Strict-Transport-Security max-age=63072000;
  add_header X-Frame-Options DENY;
  add_header X-Content-Type-Options nosniff;

  location /socket.io/ {
    set $port 5000;
    if ($args ~ "ios-app-version=(2.0.3)") {
        set $port 5001;
    }
    if ($port = 5000) {
        proxy_pass      http://localhost:5000;
    }
    if ($port = 5001) {
        proxy_pass      http://localhost:5001;
    }
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  location / {
    set $port 5000;
    if ($http_ios_app_version = "2.0.3") {
        set $port 5001;
    }
    if ($port = 5000) {
        proxy_pass      http://localhost:5000;
    }
    if ($port = 5001) {
        proxy_pass      http://localhost:5001;
    }
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}